/* FONTS */

/* barlow-600 */
@font-face {
  font-display: swap;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/barlow-v12-latin-600.woff2') format('woff2');
}

/* fraunces-700 */
@font-face {
  font-display: swap;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/fraunces-v31-latin-700.woff2') format('woff2');
}

/* fraunces-900 */
@font-face {
  font-display: swap;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/fraunces-v31-latin-900.woff2') format('woff2');
}

/* CSS RESET — Josh Comeau */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* VARIABLES */
:root {
  /* colors */
  --clr-red: hsl(7, 99%, 70%);
  --clr-pink: hsl(10, 100%, 92%);
  --clr-yellow: hsl(51, 100%, 49%);
  --clr-orange: hsl(46, 100%, 49%);
  --clr-yellow-86: hsl(49, 97%, 86%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-cyan: hsl(167, 40%, 24%);
  --clr-cyan-41: hsl(168, 34%, 41%);
  --clr-cyan-70: hsl(168, 44%, 70%);
  --clr-blue-62: hsl(199, 87%, 62%);
  --clr-blue-26: hsl(198, 62%, 26%);
  --clr-blue-19: hsl(212, 27%, 19%);
  --clr-blue-39: hsl(213, 9%, 39%);
  --clr-blue-55: hsl(232, 10%, 55%);
  --clr-blue-67: hsl(210, 4%, 67%);

  /* font family */
  --ff-headings: 'Fraunces', sans-serif;
  --ff-body: 'Barlow', sans-serif;

  /* font weight */
  --fw-600: 600;
  --fw-700: 700;
  --fw-900: 900;
}

/* REUSABLE STYLES */

/* containers */
.container {
  --max-width: 70rem;
  --padding: 1rem;
  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

/* headings */
.heading-primary,
.heading-secondary,
.heading-tertiary,
.heading-quaternary {
  font-family: var(--ff-headings);
  font-weight: var(--fw-900);
  line-height: 1.3;
  color: var(--clr-blue-19);
}

.heading-primary {
  font-size: clamp(2.5rem, 1.989795918367347rem + 2.1768707482993195vw, 3.5rem);
} /* 56px - 40px */

.heading-secondary {
  font-size: clamp(2rem, 1.7448979591836735rem + 1.0884353741496597vw, 2.5rem);
} /* 42px - 32px */

.heading-tertiary {
  font-size: 1.75rem;
} /* 42px - 32px */

.heading-quaternary {
  font-size: clamp(1rem, 0.8724489795918368rem + 0.5442176870748299vw, 1.25rem);
} /* 42px - 32px */

/* text */
.paragrpah-gray-txt {
  color: var(--clr-blue-55);
  margin-block: 2.0625rem 2.5rem;
}

/* display */
.d-flex {
  display: flex;
}

/* grids */
.grid-2cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-3cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 595px) {
  .grid-2cols {
    grid-template-columns: 1fr;
  }
  .grid-3cols {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 375px) {
  .grid-3cols {
    grid-template-columns: 1fr;
  }
}

/* PAGE STYLES */
body {
  font-family: var(--ff-body);
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: var(--fw-600);
  -webkit-font-smoothing: antialiased;
}

/* header */
.header {
  height: 3.5rem;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: clamp(2rem, 1.9362rem + 0.2721vw, 2.125rem);
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  width: 7.75rem;
  height: 1.5rem;
}

.navbar ul {
  list-style: none;
  align-items: center;
  gap: 2.9375rem;
  padding: 0;
}

.navbar ul a {
  text-decoration: none;
  color: var(--clr-white);
  transition: color 0.3s ease;
}

.navbar ul a:hover {
  color: var(--clr-orange);
}

.navbar ul .navbar__contact-btn {
  font-family: var(--ff-headings);
  font-weight: var(--fw-700);
  font-size: 0.9375rem;
  text-transform: uppercase;
  background-color: var(--clr-white);
  color: var(--clr-blue-212);
  padding: 0.9375rem 1.875rem;
  border-radius: 1.75rem;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar ul .navbar__contact-btn:hover {
  background-color: var(--clr-orange);
  color: var(--clr-white);
}

.btn-wrapper {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.btn-wrapper__icon {
  width: 1.5rem;
  height: 1.125rem;
  aspect-ratio: 1 / 1;
}

.navbar.show-menu {
  display: block;
}

.navbar::after {
  content: '';
  width: 0;
  position: absolute;
  top: -2rem;
  right: 0;
  height: 0;
  border-bottom: 40px solid var(--clr-white);
  border-left: 40px solid transparent;
  display: none;
}

.navbar.show-menu::after {
  display: block;
}

@media screen and (max-width: 660px) {
  .navbar {
    display: none;
    background-color: var(--clr-white);
    position: absolute;
    width: 95%;
    padding: 2.4375rem;
    top: 6rem;
    right: 50%;
    transform: translateX(50%);
  }
  .navbar ul {
    flex-direction: column;
    gap: 2rem;
  }
  .navbar ul a {
    color: var(--clr-blue-232);
  }
  .navbar ul .navbar__contact-btn {
    background-color: var(--clr-orange);
  }
  .btn-wrapper {
    display: block;
  }
}

/* hero */
.hero {
  min-height: clamp(33.625rem, 25.2704rem + 35.6463vw, 50rem);
  background-image: url(./images/desktop/image-header.jpg);
  background-color: var(--clr-light-blue);
  /* ? Read more about aspect ratio */
  /* aspect-ratio: 16 / 9; */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  text-align: center;
  position: relative;
  z-index: -1;
}

.hero__heading {
  text-transform: uppercase;
  letter-spacing: 0.546875rem;
  position: absolute;
  top: clamp(9rem, 7.3737rem + 6.9388vw, 12.1875rem);
  left: 50%;
  transform: translateX(-50%);
  color: var(--clr-white);
}

.hero__arrow-img {
  position: absolute;
  top: clamp(18.375rem, 16.2532rem + 9.0531vw, 22.5338rem);
  left: 50%;
  transform: translateX(-50%);
}

/* about */
.about__content {
  max-width: 32.5rem;
  justify-self: center;
  align-self: center;
  padding: 2rem;
}

@media screen and (max-width: 37.1875rem) {
  .about__content {
    text-align: center;
    margin-block: 4rem;
  }
  .about__image--egg,
  .about__image--glass {
    max-height: 19.5rem;
  }
  .about__image--egg {
    grid-row: 1;
  }
  .about__image--glass {
    grid-row: 3;
  }
}

.about__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about__link {
  text-decoration: none;
  font-size: 0.9375rem;
  color: var(--clr-blue-19);
  font-family: var(--ff-headings);
  font-weight: var(--fw-900);
  text-transform: uppercase;
  position: relative;
}

.about__link--yellow::after,
.about__link--pink::after {
  content: '';
  position: absolute;
  height: 0.625rem;
  width: 8.5625rem;
  border-radius: 1.75rem;
  top: 0.7rem;
  left: 50%;
  transform: translatex(-50%);
  z-index: -1;
  transition: background-color 0.5s ease-in-out;
}

.about__link--yellow::after {
  background-color: var(--clr-yellow-86);
}
.about__link--yellow:hover::after {
  background-color: var(--clr-yellow);
}
.about__link--pink::after {
  background-color: var(--clr-pink);
}
.about__link--pink:hover::after {
  background-color: var(--clr-red);
}

/* services */
.grid-item {
  height: 600px;
  display: grid;
  align-items: end;
  justify-content: center;
}

.grid-content {
  max-width: 370px;
  text-align: center;
  margin-bottom: 59px;
  padding-inline: 1rem;
}

.services__graphic-design {
  background-image: url(./images/desktop/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services__photography {
  background-image: url(./images/desktop/image-photography.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services__heading {
  margin-bottom: 27px;
}

.services__txt {
  color: var(--clr-cyan-167);
}

/* reviews */
.testimonials {
  padding-block: 160px;
  text-align: center;
}

.testimonials__quotes {
  gap: 30px;
}

.testimonials__heading {
  color: var(--clr-blue-210);
  text-transform: uppercase;
  margin-bottom: 81px;
}

.testimonials__img {
  border-radius: 50%;
  height: 72px;
  width: auto;
  object-fit: cover;
  margin-inline: auto;
  margin-bottom: 58px;
}

.testimonials__txt {
  color: var(--clr-blue-213);
  margin-bottom: 69px;
}

.testimonials__user {
  font-family: var(--ff-headings);
  font-weight: var(--fw-900);
  color: hsl(0, 0%, 0%);
  font-size: 18px;
  margin-bottom: 9px;
}

.testimonials__user-job {
  font-size: 14px;
  color: var(--clr-blue-210);
}

/* imgages */
.images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 595px) {
  .images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
/* footer */
.footer {
  padding-block: 72px;
  background-color: var(--clr-cyan-70);
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.footer-links,
.social-icons {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-links {
  gap: 57px;
}

.social-icons {
  gap: 28px;
}

.footer-links a,
.social-icons a {
  text-decoration: none;
  color: var(--clr-cyan-167);
}
