/* FONTS */

/* barlow-600 */
@font-face {
  font-display: swap;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/barlow-v12-latin-600.woff2') format('woff2');
}

/* fraunces-700 */
@font-face {
  font-display: swap;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/fraunces-v31-latin-700.woff2') format('woff2');
}

/* fraunces-900 */
@font-face {
  font-display: swap;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/fraunces-v31-latin-900.woff2') format('woff2');
}

/* CSS RESET — Josh Comeau */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* VARIABLES */
:root {
  /* colors */
  --clr-soft-red: hsl(7, 99%, 70%);
  --clr-yellow: hsl(51, 100%, 49%);
  --clr-yellow-79: hsl(51, 100%, 89%);
  --clr-cyan-167: hsl(167, 40%, 24%);
  --clr-dark-blue: hsl(198, 62%, 26%);
  --clr-cyan-168: hsl(168, 34%, 41%);
  --clr-blue-212: hsl(212, 27%, 19%);
  --clr-blue-213: hsl(213, 9%, 39%);
  --clr-blue-232: hsl(232, 10%, 55%);
  --clr-blue-210: hsl(210, 4%, 67%);
  --clr-white: hsl(0, 0%, 100%);

  /* FONTS */

  /* font family */
  --ff-headings: 'Fraunces', sans-serif;
  --ff-body: 'Barlow', sans-serif;

  /* font size */

  /* paragraphs */
  /* 18px, 16px, 15px */

  /* font weight */
  --fw-600: 600;
  --fw-700: 700;
  --fw-900: 900;
}

/* REUSABLE STYLES */

/* containers */
.container {
  --max-width: 70rem;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

/* headings */
.heading-primary,
.heading-secondary {
  font-family: var(--ff-headings);
  font-weight: var(--fw-900);
  line-height: 1.3;
  color: var(--clr-blue-212);
}

.heading-primary {
  font-size: clamp(2.5rem, 1.989795918367347rem + 2.1768707482993195vw, 3.5rem);
} /* 56px -> 40px */

.heading-secondary {
  font-size: clamp(2rem, 1.7448979591836735rem + 1.0884353741496597vw, 2.5rem);
} /* 42px - 32px */

/* text */
.gray-txt {
  color: var(--clr-blue-232);
  margin-block: 2.0625rem 2.5rem;
}

/* display */
.d-flex {
  display: flex;
}

/* PAGE STYLES */
body {
  font-family: var(--ff-body);
  font-size: 1.125rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-weight: var(--fw-600);
}

/* header */
.header {
  justify-content: space-between;
  position: absolute;
  top: 3.125rem;
  left: 50%;
  transform: translateX(-50%);
}

.navbar ul {
  list-style: none;
  align-items: center;
  gap: 2.9375rem;
}

.navbar ul a {
  text-decoration: none;
  color: var(--clr-white);
}

/* hero */
.hero {
  /* todo: find a way to make the hero image responsive */
  height: 800px;
  background-image: url(./images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  text-align: center;
}

.hero__heading {
  position: absolute;
  top: 12.1875rem;
  left: 50%;
  transform: translateX(-50%);
  color: var(--clr-white);
}

.hero__arrow-img {
  position: absolute;
  top: 22.53375rem;
  left: 50%;
  transform: translateX(-50%);
}

/* about */
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about__content {
  max-width: 32.5rem;
  justify-self: center;
  align-self: center;
  padding: 2rem;
}

.about__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about__content a {
  text-decoration: none;
  color: var(--clr-blue-212);
  font-family: var(--ff-headings);
  font-weight: var(--fw-900);
  text-transform: uppercase;
  font-size: 0.9375rem;
  position: relative;
}

.about__content a::after {
  content: '';
  position: absolute;
  height: 0.625rem;
  width: 8.5625rem;
  background-color: var(--clr-yellow-79);
  border-radius: 1.75rem;
  top: 0.7rem;
  left: 50%;
  transform: translatex(-50%);
  z-index: -1;
}
